<aside class="w-[200px] h-full bg-blue-300">
  <div class="w-full">
    <img src="assets/logo-short.png" alt="Salud Vital" class="w-full h-full" />
  </div>

  <ul class="flex flex-col gap-4 items-start ml-5">
    <li>
      <a routerLink="/admin/dashboard" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Dashboard</a>
    </li>
    <li>
      <a routerLink="/admin/servicios" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Servicios</a>
    </li>
    <!-- <li>
      <a routerLink="/admin/precios" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Precios</a>
    </li> -->
    <li>
      <a routerLink="/admin/aseguradoras" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Aseguradoras</a>
    </li>
    <li>
      <a routerLink="/admin/doctores" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Doctores</a>
    </li>
    <li>
      <a routerLink="/admin/recepcionistas" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Recepcionistas</a>
    </li>
    <li>
      <a routerLink="/admin/pacientes" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Pacientes</a>
    </li>
  </ul>
</aside>