<aside class="w-[200px] h-full bg-blue-300">
  <div class="w-full">
    <img src="assets/logo-short.png" alt="Salud Vital" class="w-full h-full" />
  </div>

  <ul class="flex flex-col gap-4 items-start ml-5">
    <li>
      <a routerLink="/recepcionista/doctores" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Doctores</a>
    </li>
    <li>
      <a routerLink="/recepcionista/citas" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Citas</a>
    </li>
    <li>
      <a routerLink="/recepcionista/pacientes" class="text-black hover:text-white hover:bg-blue-500 px-4 py-2 rounded transition">Pacientes</a>
    </li>
  </ul>
</aside>